# split command line entry

In [6]:
'10 20 20 10 10 30 50 10 20'.rstrip().split()

['10', '20', '20', '10', '10', '30', '50', '10', '20']

In [2]:
'd   s'.split()

['d', 's']

# round to most significant digit

In [1]:
import math

def round_to_most_significant(x):
    if x == 0:
        return x
    else:
        mul = pow(10, math.floor(math.log10(abs(x))))
        return round(x/mul)*mul

print(round_to_most_significant(0.002341))     
print(round_to_most_significant(0.000048123))  
print(round_to_most_significant(0.0))          
print(round_to_most_significant(2.6))          
print(round_to_most_significant(123.0))        
print(round_to_most_significant(-0.002341))    
print(round_to_most_significant(-0.000048123)) 
print(round_to_most_significant(-2.6))         
print(round_to_most_significant(-123.0))

0.002
5e-05
0.0
3
100
-0.002
-5e-05
-3
-100

# Formatting floats without superfluous zeros

In [20]:
import decimal

def round_to_capture_all(x):
    return ('%f' % x).rstrip('0').rstrip('.')

print(round_to_capture_all(0.002341))     
print(round_to_capture_all(0.000048123))  
print(round_to_capture_all(0.0))          
print(round_to_capture_all(0))          
print(round_to_capture_all(123.0))        
print(round_to_capture_all(-0.002341))    
print(round_to_capture_all(-0.000048123)) 
print(round_to_capture_all(-2.6))         
print(round_to_capture_all(-123.0))

0.002341
0.000048
0
0
123
-0.002341
-0.000048
-2.6
-123

# counter

In [16]:
import collections

c = collections.Counter()
print ('Initial :', c)

l = [1, 5 ,3,4,1]
c.update(l)
print ('Counter:', c)

c.update({'a':1, 'd':5})
print ('Updated:', c)

c.update([5,5,5,5])
print ('Updated, Dict:', dict(c))

c.clear()
print ('Cleared:', c)

Initial : Counter()
Counter: Counter({1: 2, 5: 1, 3: 1, 4: 1})
Updated: Counter({'d': 5, 1: 2, 5: 1, 3: 1, 4: 1, 'a': 1})
Updated, Dict: {1: 2, 5: 5, 3: 1, 4: 1, 'a': 1, 'd': 5}
Cleared: Counter()

# lists

In [13]:
l = [1, 5 ,3,4,1]
print(l.index(1))
print(l.count(1))
print(l.remove(1))
print(l)
print(l.remove(1))
print(l)

print(list('UDDDUDUU'))

print('12345'[1:3])

print('set: ', list(set(['3', '4']) & set('1234')))

0
2
None
[5, 3, 4, 1]
None
[5, 3, 4]
['U', 'D', 'D', 'D', 'U', 'D', 'U', 'U']
23
set:  ['3', '4']

# lists 2

In [40]:
print('12345'[11%5:]+'12345'[:11%5])

l3 = list('12345')
l3.insert(3, '2')
print(l3)

l4 = l3[:] # copy list
l4.sort()
print(l4)

23451
['1', '2', '3', '2', '4', '5']
['1', '2', '2', '3', '4', '5']

# defaultdict

In [45]:
import collections

d_int = collections.defaultdict(int)
print('default dict: ', d_int) # print int(), thus 0

default dict:  defaultdict(<class 'int'>, {})

# sort in order of QWERTY keyboard

In [3]:
def qwerty(inp): 
    alphabet = 'qwertyuiopasdfghjklzxcvbnm'
    a_list = list(alphabet)

    num_alpha = []
    for i in range(len(inp)):
        for j in range(len(a_list)):
            if inp[i] == a_list[j]:
                num_alpha.append(j)
    
    num_alpha.sort()
    fin = []
    for i in range(len(num_alpha)):
        fin.append(a_list[num_alpha[i]])
    
    return ''.join(fin)

print (qwerty('supercalifragilistic expialidocious'))

qwerty2 = lambda x: ''.join(sorted(x, key=lambda l: 'qwertyuiopasdfghjklzxcvbnm'.index(l)))
print(qwerty2('supercalifragilisticexpialidocious'))

qwerty3 = lambda x: ' '.join(map(lambda i: ''.join(sorted(i, key=lambda l: 'qwertyuiopasdfghjklzxcvbnm'.index(l[0]))), x.split(' ')))
print(qwerty3('supercalifragil isticexpi alidocious'))

eerrtuuiiiiiiiooppaaasssdfglllxccc
eerrtuuiiiiiiiooppaaasssdfglllxccc
erruiipaasfgllc etiiipsxc uiiooasdlc

# class getter and setter

In [12]:
class Element():
    def __init__(self, value):
        self.value = value
        self.next = None
        
e1 = Element(1)
print(e1.value)
print(e1.next)
e1.next = 5
print(e1.next)

1
None
5

# objects to boolean

In [1]:
if(None):
    print('None considered True')
else:
    print('None considered False')

if(''):
    print('empty string considered True')
else:
    print('empty string considered False')
    
if('asd'):
    print('nonempty string considered True')
else:
    print('nonempty string considered False')
    
if(0):
    print('0 considered True')
else:
    print('0 considered False')
    
if(1):
    print('1 considered True')
else:
    print('1 considered False')

None considered False
empty string considered False
nonempty string considered True
0 considered False
1 considered True

# map

In [33]:
def myfunc(n):
    return len(n)
map_res = map(myfunc, ('apple', 'banana', 'cherry'))
list_res = list(map_res)
print(list_res)

def myfunc2(a, b):
    return a + b
map_res = map(myfunc2, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
list_res = list(map_res)
print(list_res)

[5, 6, 6]
['appleorange', 'bananalemon', 'cherrypineapple']

In [126]:
strs = ['appleorange', 'bananalemon', 'cherrypineapple']
min_len = min(map(lambda x: len(x), strs))
print(list(map(lambda x: len(x), strs)))
min_len

[11, 11, 15]

11

# enumerate

In [35]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print (i, v)

0 tic
1 tac
2 toe

# assign boolean to string

In [40]:
string1, string2, string3 = 'Tro', 'Trondheim', 'Hammer Dance'
non_null = string1 and string2 and string3
print(non_null)

string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 and string2 and string3
print(non_null)

string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
print(non_null)

Hammer Dance

Trondheim

# sets

In [4]:
a = set()
a.add(4)
a.add(3)
print(a)
a.add(3)
print(a)
print(4 in a)

{3, 4}
{3, 4}
True

# remove elements from list

In [4]:
a = [3, 2, 2, 1]
del a[1]
a

[3, 2, 1]

In [6]:
a = [3, 2, 2, 1]
a.remove(2)
a

[3, 2, 1]

In [8]:
a = [3, 2, 2, 1]
a.pop()
a

[3, 2, 2]

In [11]:
a = range(0,10)
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
coins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sorted(coins, reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# index

In [10]:
'23423.10'['23423.10'.index('.') + 1 :]

'10'

# sorting comparator

In [1]:
from functools import cmp_to_key
class Player:
    def __init__(self, name, score):
        self.name = name
        self.score = score
    def __repr__(self):
        pass
    def comparator(a, b):
        if a.score > b.score:
            return -1
        elif a.score < b.score:
            return 1
        else:
            if a.name > b.name:
                return 1
            elif a.name < b.name:
                return -1
            else:
                return 0
       
inp =  ['amy 100',
        'david 100',
        'heraldo 50',
        'aakansha 75',
        'aleksa 150']
            
data = []
for i in inp:
    name, score = i.split()
    score = int(score)
    player = Player(name, score)
    data.append(player)
    
data = sorted(data, key=cmp_to_key(Player.comparator))
for i in data:
    print(i.name, i.score)

aleksa 150
amy 100
david 100
aakansha 75
heraldo 50

In [2]:
shorter = 'abc'
longest = 'cvbaA'
for c in range(len(shorter)):
    if shorter[c] in longest:
        print (shorter[c])

a
b
c

In [1]:
set([4,4, 2,1])

{1, 2, 4}

# reverse for

In [5]:

for i in range(4, -1, -1):
    print(i)

4
3
2
1
0

In [1]:
5//4

1

In [6]:
l = [1, 2, 3, 4, 5]
l[0:5]

[1, 2, 3, 4, 5]

In [1]:
stack = [1]
stack[0]

1

# list comprehension

In [6]:
nums1 = [1,0,2,3,0,0]
nums1[:] = [x for x in nums1 if x != 0]  # sometimes not including [:] works, but always include it!!
nums1

[1, 2, 3]

# integer

In [17]:
i = 1001
b = bin(i) # in binary
b

'0b1111101001'

In [26]:
list(str(b)[3:]).count('1')

6

In [28]:
2&3

2

In [30]:
3&3

3

In [32]:
5&2

0

In [35]:
1001&1000

1000

In [37]:
1000&1001

1000

In [48]:
1000 & 999

992

In [49]:
999 & 1000

992

In [41]:
1&0

0

In [42]:
0&1

0

In [43]:
998&999

998

In [44]:
999&998

998

In [45]:
3 or 3

3

In [46]:
4 or 5

4

In [51]:
3 | 4

7

In [52]:
0|1

1

In [53]:
5|9

13

In [54]:
9|5

13

In [69]:
'victor' and 'vor'

'vor'

In [67]:
'victor' or 'vor'

'victor'

In [75]:
0 == False

True

In [78]:
'' == True

False

In [80]:
'' == False

False

# memory locations

In [81]:
# Definition for singly-linked list.
class ListNode:
    def __init__(self, x):
        self.val = x
        self.next = None
        
l1 = ListNode(3)
hex(id(l1))

'0x7f090c3eb6a0'

In [82]:
hex(id('sdf'))

'0x7f090c4538b8'

In [83]:
hex(id('sdf'))

'0x7f090c3e4b58'

In [84]:
hex(id('sdf2'))

'0x7f090c479f48'

# lists

In [87]:
ret = [0] * 6
ret[0] = [1]
ret[1] = [1, 1]
ret

[[1], [1, 1], 0, 0, 0, 0]

In [89]:
empty = []
empty[-1]

IndexError: list index out of range

In [91]:
[1,2] + [3,4,5]

[1, 2, 3, 4, 5]

In [94]:
(2, 1).sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [102]:
sorted(list(set(['5', '3', '7']))) == sorted(['5', '3', '7'])

True

In [103]:
row = ["5","3",".",".","7",".",".",".","."]
[x for x in row if x != '.']

['5', '3', '7']

In [116]:
l = [1, 2, 3]
l2 = [4,5,6]
l2[1] = l[1]
print(l)
print(l2)

[1, 2, 3]
[4, 2, 6]

In [117]:
l = [1, 2, 3]
l2 = [4,5,6]
l2[1] = l[1]
l[1] = 7
l2[1] = 8
print(l)
print(l2)

[1, 7, 3]
[4, 8, 6]

In [128]:
a = [1,2,3,4,5]
a[1:2]

[2]

# zip

In [110]:
board = [[".",".",".",".","5",".",".","1","."],
                     [".","4",".","3",".",".",".",".","."],
                     [".",".",".",".",".","3",".",".","1"],
                     ["8",".",".",".",".",".",".","2","."],
                     [".",".","2",".","7",".",".",".","."],
                     [".","1","5",".",".",".",".",".","."],
                     [".",".",".",".",".","2",".",".","."],
                     [".","2",".","9",".",".",".",".","."],
                     [".",".","4",".",".",".",".",".","."]]
list(zip(*board))

[('.', '.', '.', '8', '.', '.', '.', '.', '.'),
 ('.', '4', '.', '.', '.', '1', '.', '2', '.'),
 ('.', '.', '.', '.', '2', '5', '.', '.', '4'),
 ('.', '3', '.', '.', '.', '.', '.', '9', '.'),
 ('5', '.', '.', '.', '7', '.', '.', '.', '.'),
 ('.', '.', '3', '.', '.', '.', '2', '.', '.'),
 ('.', '.', '.', '.', '.', '.', '.', '.', '.'),
 ('1', '.', '.', '2', '.', '.', '.', '.', '.'),
 ('.', '.', '1', '.', '.', '.', '.', '.', '.')]

In [111]:
# Python code to demonstrate the working of  
# zip() 

# initializing lists 
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as set 
mapped = set(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : {('Astha', 2, 70), ('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60)}

In [113]:
# Python code to demonstrate the working of  
# unzip 
  
# initializing lists 
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as list 
mapped = list(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped) 
  
print("\n") 
  
# unzipping values 
namz, roll_noz, marksz = zip(*mapped) 
  
print ("The unzipped result: \n",end="") 
  
# printing initial lists 
print ("The name list is : ",end="") 
print (namz) 
  
print ("The roll_no list is : ",end="") 
print (roll_noz) 
  
print ("The marks list is : ",end="") 
print (marksz)

The zipped result is : [('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Astha', 2, 70)]


The unzipped result:
The name list is : ('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')
The roll_no list is : (4, 1, 3, 2)
The marks list is : (40, 50, 60, 70)

In [114]:
# Python code to demonstrate the application of  
# zip() 
  
# initializing list of players. 
players = [ "Sachin", "Sehwag", "Gambhir", "Dravid", "Raina" ] 
  
# initializing their scores 
scores = [100, 15, 17, 28, 43 ] 
  
# printing players and scores. 
for pl, sc in zip(players, scores): 
    print ("Player :  %s     Score : %d" %(pl, sc))

Player :  Sachin     Score : 100
Player :  Sehwag     Score : 15
Player :  Gambhir     Score : 17
Player :  Dravid     Score : 28
Player :  Raina     Score : 43

# numerical accuracy

In [3]:
1.1 % 1

0.10000000000000009

In [8]:
import math
math.log(27, 3)

3.0

In [11]:
math.log(243, 3)

4.999999999999999

In [14]:
math.log(243, 3) % 1

0.9999999999999991

In [16]:
math.log(1594322, 3)

12.99999942907459

In [18]:
math.log(1594322, 3) % 1

0.9999994290745899

In [29]:
test_mod = math.log(1162261466, 3) % 1
eps = .0000001
test_mod < eps or test_mod > 1 - eps

True

In [33]:
l = []
for i in range(40):
    l.append(3 ** i)
l

[1,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467,
 3486784401,
 10460353203,
 31381059609,
 94143178827,
 282429536481,
 847288609443,
 2541865828329,
 7625597484987,
 22876792454961,
 68630377364883,
 205891132094649,
 617673396283947,
 1853020188851841,
 5559060566555523,
 16677181699666569,
 50031545098999707,
 150094635296999121,
 450283905890997363,
 1350851717672992089,
 4052555153018976267]

# strings

In [35]:
'asd'[1:1]

''

In [40]:
'a'[1]

IndexError: string index out of range

In [43]:
[1, 2, 3][5]

IndexError: list index out of range

In [38]:
len('asd')

3