# norm prices

In [2]:
import pandas as pd
import numpy as np
d = {"SPY" : [86.80, 86.70, 87.28, 84.67, 85.01],
    "AAPL": [90.36, 94.18, 92.62, 90.62, 92.30],
    "HNZ" : [33.95, 33.82, 33.38, 32.59, 31.99],
    "XOM" : [74.48, 74.47, 73.26, 71.39, 85.13],
    "GLD" : [86.23, 0, 85.13, 82.75, 84.46]}

df = pd.DataFrame(d)

# .loc for label based indexing or
# .iloc for positional indexing

normed = df/df.iloc[0]
normed['AAPL'] = np.nan
normed = normed.fillna(value=0)
print(normed[0:2])

        SPY  AAPL       HNZ       XOM  GLD
0  1.000000   0.0  1.000000  1.000000  1.0
1  0.998848   0.0  0.996171  0.999866  0.0

# dataframe functions

In [3]:
import pandas as pd
import numpy as np

f = lambda x: np.abs(x)>1

df1 = pd.DataFrame([[1,0,-5],[2,0,-1],[1,4,0]])
df1[0][f(df1[0])] = "!1!"
print(df1)

df2 = pd.DataFrame([[1,0,-5],[2,0,-1],[1,4,0]])
df2[f(df2)] = "!2!"
print(df2)

     0  1  2
0    1  0 -5
1  !1!  0 -1
2    1  4  0
     0    1    2
0    1    0  !2!
1  !2!    0   -1
2    1  !2!    0

# change index

In [6]:
import numpy as np
import pandas as pd

dates = pd.date_range('2015-01-01', '2015-01-04', name='Date')
df = pd.DataFrame(index=dates)
df['count'] = [i for i in range(len(df))]

print (df)

df = df.reset_index(['Date'])
df.set_index('count', inplace=True)

print (df)

            count
Date
2015-01-01      0
2015-01-02      1
2015-01-03      2
2015-01-04      3
            Date
count
0     2015-01-01
1     2015-01-02
2     2015-01-03
3     2015-01-04

# numpy/pandas aggregation

In [7]:
import numpy as np
import pandas as pd

#18
a = np.random.randint(0,10,size=(3,3))
print ("Matrix a is ",a)
value = a.min(axis = 0)
print ("min is", value)

value = a.mean(axis = 0)
print ("mean is", value)


weekSales =  pd.DataFrame(np.random.random([7,3])*100,
            index=['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'],
            columns=['Coffee', 'Donuts', 'Bagels'])

print (weekSales)
print (weekSales.sum(axis=0))

Matrix a is  [[2 9 1]
 [3 5 5]
 [4 4 1]]
min is [2 4 1]
mean is [3.         6.         2.33333333]
          Coffee     Donuts     Bagels
Sun    21.422299  92.720410  94.240209
Mon    50.611378  88.924402  18.890954
Tues   34.943291  35.110628  13.617225
Wed    66.154570  64.128298   8.548907
Thurs  85.356878   6.527219  92.760367
Fri    84.045903  64.480449  11.613591
Sat    66.082793  72.014752  47.237029
Coffee    408.617113
Donuts    423.906158
Bagels    286.908281
dtype: float64

# join

In [11]:
df1 = pd.DataFrame( {'var1': [1,2,3,4,5], 'var2': [11,12,13,14,15]}, index = ['cat','dog', 'bird', 'fish', 'turtle'] )
df2 = pd.DataFrame( {'var3': [101,102,103,104,105]}, index = ['dog', 'bird', 'cat', 'turtle', 'fish'] )
df3 = df1.join(df2, how='left')
print (df3.loc['bird','var2'])

13

# filling values

In [12]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-08'], columns=['a', 'b', 'c'])
df = df.reindex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05','2013-01-07', '2013-01-08', '2013-01-09'])

print(df.describe())
print(df.head(2))
print(df.tail(2))

print (df)
df.fillna(method='ffill', inplace=True)
df.fillna(method='bfill', inplace=True)
print (df)

              a         b         c
count  5.000000  5.000000  5.000000
mean   0.212307 -0.292524  0.266427
std    0.979677  0.401892  0.940294
min   -0.695988 -0.803210 -0.982310
25%   -0.600087 -0.654207 -0.156959
50%   -0.006341 -0.024160  0.154759
75%    0.720583  0.006006  0.846398
max    1.643367  0.012951  1.470246
                   a         b        c
2013-01-01       NaN       NaN      NaN
2013-01-02 -0.006341 -0.654207 -0.98231
                   a         b         c
2013-01-08 -0.600087  0.012951  1.470246
2013-01-09       NaN       NaN       NaN
                   a         b         c
2013-01-01       NaN       NaN       NaN
2013-01-02 -0.006341 -0.654207 -0.982310
2013-01-03 -0.695988 -0.024160  0.154759
2013-01-04  1.643367 -0.803210  0.846398
2013-01-05  0.720583  0.006006 -0.156959
2013-01-07       NaN       NaN       NaN
2013-01-08 -0.600087  0.012951  1.470246
2013-01-09       NaN       NaN       NaN
                   a         b         c
2013-01-01 -0.006341 -0.654207 -0.982310
2013-01-02 -0.006341 -0.654207 -0.982310
2013-01-03 -0.695988 -0.024160  0.154759
2013-01-04  1.643367 -0.803210  0.846398
2013-01-05  0.720583  0.006006 -0.156959
2013-01-07  0.720583  0.006006 -0.156959
2013-01-08 -0.600087  0.012951  1.470246
2013-01-09 -0.600087  0.012951  1.470246

# dataframes need .copy() function like ndarrays and lists

In [13]:
import pandas as pd

df1 = pd.DataFrame({'Type': ["Stock", None]})
df2 = df1.copy()
df2.fillna("ETF", inplace=True)
print (df1)
print (df2)

df1 = pd.DataFrame({'Type': ["Stock", None]})
df2 = df1
df1.fillna("Mutual Fund", inplace=True)
print (df1)
print (df2)

    Type
0  Stock
1   None
    Type
0  Stock
1    ETF
          Type
0        Stock
1  Mutual Fund
          Type
0        Stock
1  Mutual Fund

# concat

In [14]:
import pandas as pd

# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
        'B': ['B0', 'B1', 'B2', 'B3'],
        'C': ['C0', 'C1', 'C2', 'C3'],
        'D': ['D0', 'D1', 'D2', 'D3']},
        index=[0, 1, 2, 3])
print(df1)

df2 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
        'D': ['D2', 'D3', 'D6', 'D7'],
        'F': ['F2', 'F3', 'F6', 'F7']},
        index=[2, 3, 6, 7])
print(df2)

frames = [df1, df2]
print(pd.concat(frames, sort=False))
print(pd.concat(frames, axis=1, join="inner"))

result = pd.concat(frames, keys=['x', 'y'], sort=False)
print(result)
print(result.loc['y'])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7
     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7
    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3
       A   B    C   D    F
x 0   A0  B0   C0  D0  NaN
  1   A1  B1   C1  D1  NaN
  2   A2  B2   C2  D2  NaN
  3   A3  B3   C3  D3  NaN
y 2  NaN  B2  NaN  D2   F2
  3  NaN  B3  NaN  D3   F3
  6  NaN  B6  NaN  D6   F6
  7  NaN  B7  NaN  D7   F7
     A   B    C   D   F
2  NaN  B2  NaN  D2  F2
3  NaN  B3  NaN  D3  F3
6  NaN  B6  NaN  D6  F6
7  NaN  B7  NaN  D7  F7

# merge

In [15]:
import pandas as pd

# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
        'B': ['B0', 'B1', 'B2', 'B3'],
        'C': ['C0', 'C1', 'C2', 'C3'],
        'D': ['D0', 'D1', 'D2', 'D3']},
        index=[0, 1, 2, 3])
print(df1)

df2 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
        'D': ['D2', 'D3', 'D6', 'D7'],
        'F': ['F2', 'F3', 'F6', 'F7']},
        index=[2, 3, 6, 7])
print(df2)

result = pd.merge(df1, df2, how='right', on=['D', 'D'])
# can add this to ensure keys on both sides are the same: "validate='one_to_one'"
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7
     A  B_x    C   D B_y   F
0   A2   B2   C2  D2  B2  F2
1   A3   B3   C3  D3  B3  F3
2  NaN  NaN  NaN  D6  B6  F6
3  NaN  NaN  NaN  D7  B7  F7

# join

In [16]:
import pandas as pd

# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html


left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])

print(left)
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                       'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])
print(right)

result = left.join(right, how='outer')
print(result)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

# groupby

In [9]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})

def get_letter_type(letter):
     if letter.lower() in 'aeiou':
        return 'vowel'
     else:
        return 'consonant'
    
grouped = df.groupby(get_letter_type, axis=1)

for key, item in grouped:
    print(grouped.get_group(key), "\n\n")
    
print(grouped.describe())

       B         C         D
0    one  1.487266 -1.401625
1    one  0.223291 -0.726955
2    two -0.743271  1.814632
3  three -0.430448 -0.552671
4    two  0.811503  0.177127
5    two -0.227292  0.463193
6    one  1.278207 -1.135509
7  three  0.843882 -1.293662


     A
0  foo
1  bar
2  foo
3  bar
4  foo
5  bar
6  foo
7  foo


            count      mean      std       min       25%       50%       75%  \
consonant C     8  0.405392  0.82297 -0.743271 -0.278081  0.517397  0.952464
          D     8 -0.331934  1.09667  -1.40163  -1.17505 -0.639813  0.248643
vowel     A     8       NaN      NaN       NaN       NaN       NaN       NaN

                 max unique  top freq
consonant C  1.48727    NaN  NaN  NaN
          D  1.81463    NaN  NaN  NaN
vowel     A      NaN      2  foo    5

# groupby 2

In [20]:
# https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html
import pandas as pd
import numpy as np
url = ('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv')
tips = pd.read_csv(url)

############ similar to:
# SELECT smoker, day, COUNT(*), AVG(tip)
# FROM tips
# GROUP BY smoker, day;

tips.groupby(['smoker', 'day']).agg({'tip': [np.size, np.mean]})

              tip
             size      mean
smoker day
No     Fri    4.0  2.812500
       Sat   45.0  3.102889
       Sun   57.0  3.167895
       Thur  45.0  2.673778
Yes    Fri   15.0  2.714000
       Sat   42.0  2.875476
       Sun   19.0  3.516842
       Thur  17.0  3.030000

# groupby 3

In [13]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})

df

     A      B         C         D
0  foo    one -1.171551  0.519965
1  bar    one  0.284706 -0.916367
2  foo    two -2.131896 -1.870197
3  bar  three  0.744607  1.008025
4  foo    two -0.712091 -0.878856
5  bar    two -0.504083  0.592934
6  foo    one  0.024785 -2.340462
7  foo  three -0.849244 -0.105367

In [21]:
df.groupby(['A']).agg({'B': [np.max], 'D': [np.max]})

       B         D
    amax      amax
A
bar  two  1.008025
foo  two  0.519965

In [23]:
df.groupby(['A', 'B'])['C'].mean()

A    B
bar  one      0.284706
     three    0.744607
     two     -0.504083
foo  one     -0.573383
     three   -0.849244
     two     -1.421994
Name: C, dtype: float64

# where

In [16]:
# https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html
import pandas as pd
url = ('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv')
tips = pd.read_csv(url)

tips = tips[(tips['size'] >= 5) | (tips['total_bill'] > 45)]
print(tips['tip'].iloc[0])
list_tips = list(tips['tip'].values)
print(list_tips)
list_tips.sort(reverse=True)
print(list_tips)

6.73
[6.73, 4.2, 6.7, 5.0, 5.0, 5.14, 5.0, 10.0, 3.5, 5.0, 2.0, 9.0, 3.0]
[10.0, 9.0, 6.73, 6.7, 5.14, 5.0, 5.0, 5.0, 5.0, 4.2, 3.5, 3.0, 2.0]

# location

In [4]:
import pandas as pd
df = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
        'B': ['B0', 'B1', 'B2', 'B3'],
        'C': ['C0', 'C1', 'C2', 'C3'],
        'D': ['D0', 'D1', 'D2', 'D3']},
        index=['zero', 'one', 'two', 'three'])

print('############# iloc single location #############')
print('')
print(df['A'].iloc[2])
print('')
print(df['A'].iloc[3])
print('')
print('############# iloc #############')
print('')
print(df.iloc[:2]) # rows
print('')
print(df.iloc[-2:]) # rows
print('')
print(df.iloc[:, 2]) # cols
print('')
print(df.iloc[:2, :3]) # upper left
print('')
print('############# loc #############')
print('')
print(df.loc['zero'])
print('')
print(df.loc['one':'three']) # careful, this is inclusive unlike the rest of python!
print('############# columns #############')
print('')
print(df['B'])
print('')
print(df[['B', 'D']])
print('')
print('############# remove #############')
print('')
print(df.drop("B", axis=1))
print('')
print(df.drop("two", axis=0))
print('')

############# iloc single location #############

A2

A3

############# iloc #############

       A   B   C   D
zero  A0  B0  C0  D0
one   A1  B1  C1  D1

        A   B   C   D
two    A2  B2  C2  D2
three  A3  B3  C3  D3

zero     C0
one      C1
two      C2
three    C3
Name: C, dtype: object

       A   B   C
zero  A0  B0  C0
one   A1  B1  C1

############# loc #############

A    A0
B    B0
C    C0
D    D0
Name: zero, dtype: object

        A   B   C   D
one    A1  B1  C1  D1
two    A2  B2  C2  D2
three  A3  B3  C3  D3
############# columns #############

zero     B0
one      B1
two      B2
three    B3
Name: B, dtype: object

        B   D
zero   B0  D0
one    B1  D1
two    B2  D2
three  B3  D3

############# remove #############

        A   C   D
zero   A0  C0  D0
one    A1  C1  D1
two    A2  C2  D2
three  A3  C3  D3

        A   B   C   D
zero   A0  B0  C0  D0
one    A1  B1  C1  D1
three  A3  B3  C3  D3

# shift

In [1]:
import pandas as pd

data = {'A': [100, 60, 30, 130],
         'B': [5, 15, 15, 5],
         'C': [100, 300, 100, 200],
         'D': [20, 20, 30, 30]}
df = pd.DataFrame(data)
print(df)
df = df.shift(2, axis=1)
print(df)
df = df.shift(-1, axis=0)
print(df)
print(df.mean())

     A   B    C   D
0  100   5  100  20
1   60  15  300  20
2   30  15  100  30
3  130   5  200  30
    A   B      C     D
0 NaN NaN  100.0   5.0
1 NaN NaN   60.0  15.0
2 NaN NaN   30.0  15.0
3 NaN NaN  130.0   5.0
    A   B      C     D
0 NaN NaN   60.0  15.0
1 NaN NaN   30.0  15.0
2 NaN NaN  130.0   5.0
3 NaN NaN    NaN   NaN
A          NaN
B          NaN
C    73.333333
D    11.666667
dtype: float64

# columns

In [1]:
import pandas as pd

scala = pd.DataFrame(columns = ['Gold', 'Silver', 'USD', 'CAD'])
print(scala)
scala = scala.dropna(subset=['USD'])
print(scala)
scala = scala.rename(columns = {'Gold': 'AU'})
scala = scala.join(pd.DataFrame(columns = ['Copper']), how = 'left')
# joins rows together, all columns stay

print(scala.columns.tolist())

Empty DataFrame
Columns: [Gold, Silver, USD, CAD]
Index: []
Empty DataFrame
Columns: [Gold, Silver, USD, CAD]
Index: []
['AU', 'Silver', 'USD', 'CAD', 'Copper']

# reshape

In [25]:
import pandas as pd

# https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html#

# apply

In [26]:
import pandas as pd

d = {'AAPL' : pd.Series([615.99,626.63,621.64], index=['2012-04-02','2012-04-03','2012-04-04']),
     'GOOG' : pd.Series([646.92,642.62,635.15], index=['2012-04-02','2012-04-03','2012-04-04']),
     'MSFT' : pd.Series([31.87,31.52,30.80], index=['2012-04-02','2012-04-03','2012-04-04'])
    }
df1 = pd.DataFrame(d)

df2 = df1.apply(lambda x: x * 2)

result = df2 / df1

print(result)

            AAPL  GOOG  MSFT
2012-04-02   2.0   2.0   2.0
2012-04-03   2.0   2.0   2.0
2012-04-04   2.0   2.0   2.0

# apply 2

In [27]:
rectangles = [
    { 'height': 40, 'width': 10 },
    { 'height': 20, 'width': 9 },
    { 'height': 3.4, 'width': 4 }
]
rectangles_df = pd.DataFrame(rectangles)
print(rectangles_df)

def calculate_area(row):
    return row['height'] * row['width']

rectangles_df['area'] = None
rectangles_df['area'] = rectangles_df.apply(calculate_area, axis=1)
print(rectangles_df)

rectangles_df['area2'] = None
rectangles_df['area2'] = rectangles_df.apply(lambda row: row['height'] * row['width'], axis=1)
print(rectangles_df)

   height  width
0    40.0     10
1    20.0      9
2     3.4      4
   height  width   area
0    40.0     10  400.0
1    20.0      9  180.0
2     3.4      4   13.6
   height  width   area  area2
0    40.0     10  400.0  400.0
1    20.0      9  180.0  180.0
2     3.4      4   13.6   13.6

# pandas manipulation

In [2]:
import pandas as pd

a = [1.1 ** i for i in range(0,5)]

dvs = pd.DataFrame(a)
print(dvs)
print(dvs[0])

drs = dvs[0] / dvs[0].shift(1) - 1
print(drs)

print([round(num, 1) for num in drs])

        0
0  1.0000
1  1.1000
2  1.2100
3  1.3310
4  1.4641
0    1.0000
1    1.1000
2    1.2100
3    1.3310
4    1.4641
Name: 0, dtype: float64
0    NaN
1    0.1
2    0.1
3    0.1
4    0.1
Name: 0, dtype: float64
[nan, 0.1, 0.1, 0.1, 0.1]

# duplicates

In [10]:
import pandas as pd
data = {'A': [100, 100, 31, 30],
         'B': [5, 5, 15, 5],
         'C': [100, 100, 100, 200],
         'D': [20, 20, 30, 30]}
df = pd.DataFrame(data)
df.duplicated(subset=['A', 'D'], keep=False)
# keep : {‘first’, ‘last’, False}, default ‘first’
# first : Mark duplicates as True except for the first occurrence.
# last : Mark duplicates as True except for the last occurrence.
# False : Mark all duplicates as True.

0     True
1     True
2    False
3    False
dtype: bool

# excel conversions

In [14]:
# df = pd.read_excel('./april.xls', converters={'Lot': str})
# df.to_excel("output_lot.xlsx")

# describe table properties

In [17]:
data = {'A': [100, 100, 31, 30],
         'B': [5, 5, 15, 5],
         'C': [100, 100, 100, 200],
         'D': [20, 20, 30, 30]}
df = pd.DataFrame(data)

print(df.describe(include='all').to_string())

               A     B      C          D
count    4.00000   4.0    4.0   4.000000
mean    65.25000   7.5  125.0  25.000000
std     40.12792   5.0   50.0   5.773503
min     30.00000   5.0  100.0  20.000000
25%     30.75000   5.0  100.0  20.000000
50%     65.50000   5.0  100.0  25.000000
75%    100.00000   7.5  125.0  30.000000
max    100.00000  15.0  200.0  30.000000

# clipboard

In [20]:
import pandas as pd

# df = pd.read_clipboard()  # same arguments as read_csv

# # reformat
# df_duplicated_rows = df.duplicated(subset=['2082657.1'], keep=False)
# df['duplicated?'] = df_duplicated_rows

# df.to_clipboard()

# sort

In [6]:
import numpy as np
df = pd.DataFrame({
     'col1' : ['A', 'A', 'B', np.nan, 'D', 'C'],
     'col2' : [2, 1, 1, 8, 7, 4],
     'col3': [0, 1, 1, 4, 2, 3],
 })
df = df.sort_values(by=['col1', 'col2'], ascending=[False, True], na_position='first')
df

  col1  col2  col3
3  NaN     8     4
4    D     7     2
5    C     4     3
2    B     1     1
1    A     1     1
0    A     2     0

# dropna

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
     'col1' : ['A', 'A', 'B', np.nan, 'D', 'C'],
     'col2' : [2, np.nan, 1, 8, 7, 4],
     'col3': [0, 1, 1, 4, 2, 3],
 })
df.dropna(subset=['col1'])

  col1  col2  col3
0    A   2.0     0
1    A   NaN     1
2    B   1.0     1
4    D   7.0     2
5    C   4.0     3

# for loop

In [27]:

import pandas as pd
import numpy as np
df = pd.DataFrame({
     'col1' : ['A', 'A', 'B', np.nan, 'D', 'C'],
     'col2' : [2, np.nan, 1, 8, 7, 4],
     'col3': [0, 1, 1, 4, 2, 3],
 })

for index, row in df.iterrows():
    print(row['col1'], row['col3'])

A 0
A 1
B 1
nan 4
D 2
C 3